bcrypt
bokeh
jupyterlab
numpy
natsort
opencv-python
plotly
pandas
pandas_profiling
seaborn
streamlit
streamlit-ace
streamlit-aggrid
streamlit_authenticator
streamlit-cropper
streamlit-player
streamlit-pandas-profiling
scikit-learn
tqdm